<H1>My Jupyter Notebook on IBM Watson Studio<H1>

<b>**Amir Arsalan Royaee**<b><br>Data Scientist

<em>I am interested in data science because I can add value to any business who can use their data well.</em>

<H3>The following code will calculate the square root of a Number</H3>

In [1]:
num = 15 
num_sqrt = num ** 0.5
print('The square root of %0.3f is %0.3f'%(num ,num_sqrt))

The square root of 15.000 is 3.873

<html>
<header>
</header>

<body>
    <section>
        <h1> My favourite Libraries</h1>
        <ol>
            <li>TensorFlow</li>
            <li>Scikit-Learn</li>
            <li>Numpy</li>
            <li>Keras</li>
            <li>PyTorch</li>
            <li>LightGBM</li>
            <li>Eli5</li>
            <li>SciPy</li>
            <li>Theano</li>
            <li>Pandas</li>
        </ol>
        <hr>
        <table border="1px">
            <tr>
                <td><b>Name</b></td>
                <td><b>Number</b></td>
            </tr>
            <tr>
                <td>John</td>
                <td>34</td>
            </tr>
            <tr>
                <td>Mary</td>
                <td>23</td>
            </tr>
            <tr>
                <td>Ted</td>
                <td>28</td>
            </tr>
            <tr>
                <td>Bill</td>
                <td>11</td>
            </tr>
        </table>
        <br>
        <hr>
    </section>
    <footer>
        <a href="https://docs.python.org/3/tutorial/">Link to Python Learning</a>
    </footer>
</body>
</html>